/* Clase para mostrar la tasa en color verde */
.tasa-verde {
  color: #21dd63; /* Verde tipo éxito */
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #3c73ff;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #5e8cff;
}

.container_footer {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 0.8em;
}

.container_footer p,
a {
  color: #4a6bfc;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 1em;
  display: block;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #3c73ff;
}

main {
  flex: 1;
  padding: 1em;
}

#content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#content h2,
h3,
p {
  color: #070707;
  font-family: "Roboto", sans-serif;
}

#content a {
  text-decoration: none;
  color: #3c73ff;
}

.endpoint_api {
  background-color: white;
  border-style: none;
  width: 347px;
  border-radius: 6px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 35px;
}

#button_copy {
  border: none;
  background-color: #3c73ff;
  border-radius: 4px;
  height: 35px;
  width: 35px;
  position: relative;
  top: 5px;
  transition: background-color 0.3s ease;
  padding: 0;
  width: 300px;
}

#button_copy :hover {
  background-color: #5e8cff;
}

#url_api {
  color: #3c73ff;
  cursor: default;
}

.ig_link {
  color: #3c73ff;
  background-color: none;
  transition: color 0.3s ease-in-out;
}

.ig_link:hover {
  color: rgb(253, 47, 47);
  background-color: yellow;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #e9e9e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  width: 100%;
  background-color: #4a6bfc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0, 3s ease;
}
form button:hover {
  background-color: #5e8cff;
}

#tasa_actual {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2em;
  margin-top: 0.5em;
}

#copy {
  background-color: #3c73ff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 5s ease-in;
}

#copy :hover {
  background-color: #5e8cff;
}

#hidden-alert {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  min-width: 220px;
  background-color: #3c73ff;
  padding: 16px 28px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 4px 16px rgba(60, 115, 255, 0.15);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.1em;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s, transform 0.5s;
  z-index: 9999;
}

#hidden-alert p {
  color: #fff;
}

#hidden-alert.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

@media (width <500px) {
  footer {
    text-align: center;
  }

  #hidden-alert {
    right: 10px;
    left: 10px;
    min-width: auto;
    font-size: 1em;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #hidden-alert p {
    color: #3c73ff;
  }
}
